<div class='container'>
  <h1>About Farm Share Signup</h1>

  <p>I wanted my final project in General Assembly's Web Development Immersive to be focused on Community Supported Agriculture. My vision was to allow farms to enter their offerings into an online platform which would handle shareholder orders and payment processing.</p>

  <ul>
    <li>Payments are handled using the Stripe API, currently in Test mode. You may use credit card number "4242-4242-4242" to try out the functionality.</li>
    <li>Handlebars.js is used for view templates</li>
    <li>jQuery validation plugin is used for front-end validations</li>
    <li>Ruby on Rails is used on the backend and some front end templates</li>
    <li>Testing is done with Rspec</li>
  </ul>


  <p>Content was inspired by <a href='http://www.redfirefarm.com/CSA/' target="_blank">Redfire Farm</a> (Granby, MA)</p>
</div>
