<div class='container'>
  <h1>About Farm Share Signup</h1>

  <p>I was inspired by Community Supported Agriculture (CSA) in Massachusetts and wanted my final project in General Assembly's Web Development Immersive to be focused in this area. My vision was to create a platform that would enable producers to enter their seasonal offerings into a system that would make it available to the public, including payment processing.</p>

  <h2>Technical info</h2>

  <ul>
    <li>Payment processing is handled using the Stripe API, currently only in Test mode. You may use credit card number "4242-4242-4242" to try out the whole workflow.</li>
    <li>Handlebars.js is used for some templates</li>
    <li>jQuery validation plugin is used for front-end validations</li>
  </ul>


  <p>Content was inspired by <a href='http://www.redfirefarm.com/CSA/' target="_blank">Redfire Farm</a> (Granby, MA)</p>
</div>
