
.extra-options li {
 list-style: none;
}

#seasonal-options li {
 list-style: none;
}

.pickup-locations li {
 list-style: none;
}

td img {
  border:1px solid #021a40;
  }

.panel-footer {
  background-color: #fcf8e3 !important;
}

#review-table > tbody > tr {
  border-top: 2px solid #fcf8e3 !important;
}

.table > thead {
  border-bottom: 3px solid #fcf8e3 !important;
}


.header_background{
  background: url('http://i.imgur.com/jsBR2yC.png') no-repeat center center;
  /*background-size: cover;*/
  width: 100%;
  height: 350px;
}

.payment_plan {
  padding-bottom: 20px;
  }

label.error{
  background-color: #CE0A31;
  color: #FFFFFF;
  padding: 5px;
  margin: 5px;
  font-size: small;
}




