<div class="container">
  <div class="text-center">
    <h2>Thanks, you paid <strong><%=number_to_currency(@first_pmt_amt)%></strong>!</h2>
  </div>

<%= render partial: '/shared/order_details', locals: {order: @order, order_lines: @order_lines}%>
</div>


